@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Work+Sans:wght@700&display=swap');



:root {
    --spruce: #1A536B;
    --teal: #239DAA;
    --orange: #F58203;
    --mustard: #F5AF02;
    --cream: #FFF5EA;
    --black: #263238;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.3;
    background: var(--cream);
    min-height: 100%;
    font-size: 13px;
}
a {
	text-decoration: none !important;
}
header {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 30px;
}
.pageloader {
	background: #fff url(https://i.pinimg.com/originals/ed/fe/17/edfe17223aa940dbda352027fbb544d0.gif) center center no-repeat;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-size: 400px;
}
.spruce {
    color: var(--spruce);
}

.teal {
    color: var(--teal);
}

.black {
    color: var(--black);
}

.orange {
    color: var(--orange);
}

.main-menu li a {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
.main-menu li a:hover {
	color: var(--mustard);
}
.main-menu {
    align-items: center;
}

.main-menu li {
    padding: 0 15px;
}

.main-menu li:last-child {
    padding: 0 0 0 15px
}

.navbar-nav.main-menu li a.menu-btn {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 18px 30px;
}

.navbar-nav.main-menu li a.menu-btn:hover {
	color: var(--spruce);
	background: var(--mustard);
	border: 2px solid var(--mustard);
}
h1 {
    font-family: 'Work Sans';
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 20px 0;
}
h2 {
    font-family: 'Work Sans';
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 20px 0;
}

h3 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.3px;
    margin-bottom: 2em;

}

h4 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

p {
	font-size: 14.5px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.09em;
}

.section {
    padding: 80px 0;
}

.keep-connected {
    background: rgba(0,0,0,0.7);
    position: relative;
    width: 100%;
    background-size: cover;
    margin-top: -146px;
}
#bgvid {
    width: 100%;
    position: absolute;
    top: 0;
}

.main-title {
	margin-top: 30px;
}

.main-title h3 {
    margin-bottom: 2em;
}

.main-title p {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.1em;
    width: 800px;
    max-width: 100%;
    margin: 0 auto 2em auto;
}

.btn {
    padding: 12px 30px;
    margin: auto 10px;
    min-width: 255px;
    font-size: 20px;
    letter-spacing: 0.3px;
}

.btn i {
    font-size: 20px;
}

.btn-full, .btn-ghost:hover {
    background: var(--spruce);
    border: 2px solid var(--spruce);
    border-radius: 35px;
    color: #fff;
    font-weight: 500;
}
.btn-full:hover {
	background: #174457;
    border: 2px solid #174457;
    color: #fff;
	
}
.btn-ghost {
    background: transparent;
    border: 2px solid var(--spruce);
    border-radius: 35px;
    color: #fff;
    font-weight: 500;
}

.btn-ghost-2 {
    background: transparent;
    border: 3px solid #fff;
    border-radius: 35px;
    color: #fff;
    font-weight: 500; 
    font-size: 12px;
    letter-spacing: 2px;
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    align-items: center;
    margin: 0 auto;
	justify-content: center;
}
.btn-ghost-2:hover {
	background: white;
    border: 3px solid #fff;
    color: var(--mustard);
}
.orange-circle {
	background: url(../img/orange-circle.svg) left top 10px no-repeat;
	background-size: 100%;
}
.offers h1 {
    margin-bottom: 60px;
}

.offers h3 {
	font-weight: 500;
    text-align: center;
}
.offers.container {
	max-width: 1030px;
}

.offers img {
    width: 103px;
    display: block;
    margin: 0 auto 25px auto;
}
.offers [class*=col] {
	margin-bottom: 30px;
} 
.hand-circle {
	display: block;
	margin: 0 auto;
}
.happy-woman {
	margin-top: -50px;
}
.partnership {
	margin-bottom: 100px;
}
.partnership .col-md-7 {
	padding-left: 40px;
}
.accelerate h4 {
	margin: 0;
	padding: 0;
}
.accelerate img {
	width: 50px;
	margin-right: 20px;
}
.accelerate p {
	padding-right: 30px;
}
.accelerate [class*=col] {
	margin-bottom: 50px;
}
.nationwide {
	background: url(../img/map.png) center bottom no-repeat;
	background-size: auto 400px;
	margin-bottom: 90px;
}
.nationwide .btn {
	margin-bottom: 200px;
}

.get-in-touch {
	background: var(--mustard);
}
footer {
    padding-top: 60px;
}
.social-media .icons a {
	margin-left: 30px;
	width: 27px;
	height: 27px;
	background-size: cover;
	display: inline-block;
	text-indent: -9999px;
}
.social-media {
	 
}
.fb { background: url(../img/fb.svg) no-repeat; }
.ig { background: url(../img/ig.svg) no-repeat; }
.in { background: url(../img/li.svg) no-repeat; }
.yt { background: url(../img/yt.svg) no-repeat; }

.disclaimer {
	font-size: 12px;
	color: var(--black);
	letter-spacing: 1px;
	margin-bottom: 30px;
    padding: 50px 0 30px 0;
}
.disclaimer a {
	color: var(--black);
	margin-right: 20px;
	font-weight: 500; 
	text-transform: uppercase;
}
.modal-content {
    border-radius: 20px;
}
.modal-body {
    padding: 50px;
    border-radius: 20px;
}
.modal-dialog {
    width: 700px;
    max-width: 95%;
}
span.close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}
.modal-holder {
    width: 500px;
    max-width: 100%;
}
.modal-content {
    filter: drop-shadow(0px 8px 17px rgba(0,0,0,0.4));
}
.modal h1 {
    margin: 0 0 20px 0;
}
.modal p {
    margin: 0 0 30px 0;
}
.modal img {
    margin: 0 0 20px 0;
}
.modal small {
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.1em;
    margin-right: 70px;
    line-height: 20px;
}
.prev img, .next img {
    height: 13px;
}
.prev, .next {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.1));
    background: #fff;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
}
.next {
    margin-left: 16px;
}
.prev img {
    transform: rotate(180deg);
}
body {
    overflow-x: hidden;
}
.footer-add img {
    margin-bottom: 30px;
}
.footer-add { 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;

}
.backtotop {
    position: fixed;
    color: #000;
    z-index: 2;
    bottom: 0;
    right: 0;
    padding: 11px 19px 9px 14px;
    border-radius: 20px;
    background: var(--mustard);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 11px;
    margin: 15px;
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.3));
}
@media screen and (max-width: 767px) {
    #bgvid {
        display: none;
    }
    .keep-connected {
        background: url(../img/bg.jpg) center center;
         
        
    }
    div#mainmenu {
        position: absolute;
        top: 0;
        z-index: 1;
        width: calc(100% + 63px);
        background: var(--spruce);
        margin: -31px;
    }
    .section.orange-circle, .nationwide {
        padding-top: 0;
    }
    .section.offers {
        padding-bottom: 0;
    }
    .partnership .col-md-7 {
        padding-left: calc(var(--bs-gutter-x)/ 2) !important;
    }
    .hand-circle {
        margin-bottom: 70px;
    margin-top: 40px;
    max-width: 100%;
    width: 78%;
    }
    .row.optimize .col-md-8 {
        padding-left: calc(var(--bs-gutter-x)/ 2) !important;
    }
    .container-fluid.pr-0, .container {
        width: 100%;
        padding-right: var(--bs-gutter-x,2rem);
        padding-left: var(--bs-gutter-x,2rem);
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        
    }
    .offers br {
    display: block;
}
    .banner-btn .btn-full {
        margin-bottom: 15px;
    }
    .nationwide {
        background-size: 100%;
    }
    .nationwide .btn {
        margin-bottom: 130px;
    }
    br {
        display: none;
    }
    .happy-woman {
        margin-top: -50px;
        margin-bottom: 70px;
        margin-right: -20px;
        float: right;
        width: 80%;
    }
    .accelerate [class*=col] {
      margin-bottom: 30px;
    }
    .section {
        padding: 60px 0;
    }
    .main-menu {
        align-items: center;
        padding: 40px 0 60px 0;
    }
    .main-menu li a {
        padding: 15px 1rem;
        font-size: 18px;
    }
    .main-menu li:last-child {
        padding: 15px 0 0 0;
    }
    i.las.la-bars.navbar-toggler-icon {
        color: #fff;
        font-size: 37px;
        line-height: 57px;
    }
    .offers img {
        width: 145px;
        
    }
    .orange-circle {
        padding-bottom: 10px;
    }
    .accelerate [class*=col]:last-child {
        margin-bottom: 0;
    }
    header.site-header {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        background: var(--spruce);
        padding: 10px 0 10px 22px;
    }
    a.navbar-brand img {
        width: 150px;
    }
    .keep-connected {
        margin-top: 0;
    }
    footer {
        padding-top: 50px;
    }
    .social-media {
        margin-top: 40px;
    }
    .social-media .icons a {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 15px;
    }
    .disclaimer span {
        margin-top: 35px;
        display: block;
    }
}
@media screen and (max-width: 540px) {
    .container, .container-fluid,.container-fluid.pr-0, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100%;
        padding-right: var(--bs-gutter-x,2rem);
        padding-left: var(--bs-gutter-x,2rem);
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }
    .modal-body {
        padding: 30px;
        border-radius: 20px;
    }

    h1 {
        font-family: 'Work Sans';
        font-size: 40px;
        line-height: 48px;
        margin: 0 0 30px 0;
    }
    .main-menu li:last-child {
        padding-top: 20px;
    }
    .main-title p {
        font-size: 19px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.1em;
        width: 800px;
        max-width: 100%;
        margin: 0 auto 2em auto;
    }
    .main-title h3 {
        margin-bottom: 1em;
    }
    h3 {
        font-family: 'Roboto';
        font-size: 21px; 
        line-height: 31px;
    }


}